{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="{% static 'product/css/styles.css' %}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ToDo — Список дел</title>
</head>
<body>

<header>
    <nav>
      {% if user.is_authenticated %}
        <span>Привет, {{ user.username }}!</span>
        <a href="/logout/" >Выход</a>
      {% else %}
        <a href="{% url 'login' %}">Вход</a>
        <a href="{% url 'register' %}">Регистрация</a>
      {% endif %}
    </nav>
  </header>

<div class="container">
  <h1>Пользователи</h1>
  <ul class="user-list">
    {% for user in users %}
    <li>
      <a href="/show/{{ user.id }}" class="user-info">
        <div class="user-field user-id">
          <span class="field-label">ID</span>
          <span class="field-value">{{ user.id }}</span>
        </div>
        <div class="user-field user-name">
          <span class="field-label">Имя</span>
          <span class="field-value">{{ user.name }}</span>
        </div>
        <div class="user-field user-age">
          <span class="field-label">Возраст</span>
          <span class="field-value">{{ user.age }}</span>
        </div>
      </a>
      <div class="actions">
        <a href="{% url 'delete' user.id %}">
          <button class="delete-btn">Удалить</button>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<button class="add-button" onclick="window.location.href='new'">+</button>

</body>
</html>