{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="{% static 'product/css/styles.css' %}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ToDo — Информация о пользователе</title>
</head>
<body>

<div class="container">
  <h2>Информация о пользователе {{ user.name }}</h2>

  <form method="post">
    {% csrf_token %}
    
    <div>
      <label for="name">Имя</label>
      <input type="text" id="name" name="name" value="{{ user.name }}" required />
    </div>

    <div>
      <label for="age">Возраст</label>
      <input type="number" id="age" name="age" value="{{ user.age }}" required />
    </div>

    <input type="submit" value="Сохранить" />
    <button onclick="window.location.href='/'">Домой</button>
    <a href="{% url 'delete' user.id %}">
      <button type="button" class="delete-btn">Удалить</button>
    </a>
  </form>
</div>

</body>
</html>